body {
	background: #f8f8f8;
}

table {
	width: 100%;

	tr:nth-child(odd) {
		background: #f3f3f3;
	}
}

.hole-in-one {
	color: #FFFF00;
}

.eagle {
	color: #f65842;
}

.birdie {
	color: #FF9933;
}

.par {
	color: #68a925;
}

.bogey {
	color: #66CCFF;
}

.double-bogey {
	color: #0066FF;
}

.other {
	color: #003399;
}